# pg 数据库配置
PG_USERNAME="username"
PG_PASSWORD="password"
PG_HOST="127.0.0.1"
PG_PORT=5432
PG_DATABASE="database"

# JWT 配置
SECRET_KEY="your-secret-key"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=30

# OAuth 配置
GOOGLE_CLIENT_ID="your-google-client-id"
GOOGLE_CLIENT_SECRET="your-google-client-secret"
FACEBOOK_APP_ID="your-facebook-app-id"
FACEBOOK_APP_SECRET="your-facebook-app-secret"
TWITTER_API_KEY="your-twitter-api-key"
TWITTER_API_SECRET_KEY="your-twitter-api-secret-key"