fastapi~=0.112.0
uvicorn~=0.30.5
pypdf~=4.3.1
python-multipart~=0.0.9
starlette~=0.37.2
pdf2image~=1.17.0
reportlab~=4.2.2
requests~=2.32.3
rembg~=2.0.57
SQLAlchemy~=2.0.31
psycopg2-binary~=2.9.9
python-jose[cryptography]~=3.3.0
passlib[bcrypt]~=1.7.4
httpx~=0.27.0
jinja2~=3.1.4
python-dotenv~=1.0.1